---
title: Blog index
---

ul
  each val in collections.blog
    -
      var blogUrl = val.path.replace(/^blog\//i, '')
      var published = moment(val.date)
      var modified = val.commit
        ? moment(val.commit.date)
        : published

    li
      a(href=blogUrl)
        time(datetime=published.format())= published.format('Y-MM-DD')
        if published !== modified
          time(datetime=modified.format())= modified.format('Y-MM-DD')

        span= val.title
